customer_inquiry_n8n_gemma.json
{
  "name": "customer_inquiry_n8n_gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-inquiry",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -992,
        192
      ],
      "id": "90a3159f-03a9-4c84-ac86-7aff783bba67",
      "name": "Webhook",
      "webhookId": "5de903aa-71c8-4a66-84eb-5f6292dff295"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemma-3-27b-it:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        192
      ],
      "id": "f5150813-8ed0-4fc6-bfec-b207d267f1cf",
      "name": "HTTP Request",
      "retryOnFail": false,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpQueryAuth": {
          "id": "I8qSk5a0qUcELfQU",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.inquiry_type }}",
                    "rightValue": "영업문의",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8830c2f5-b650-4fae-8502-d5cd6fbf327d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales_inquiry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b188879-9185-4b54-84b4-bf61a2873db1",
                    "leftValue": "={{ $json.inquiry_type }}",
                    "rightValue": "기술지원",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tech_support"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -96,
        176
      ],
      "id": "e5947647-0a23-47f3-a5e2-9d9c333b81e6",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "matzipblogger@naver.com",
        "subject": "={{ \n  `${Number($json.urgency_score || 0) >= 8 ? '[긴급] ' : ''}[신규 영업 문의] ${$('Webhook').item.json.body.name}` \n}}",
        "emailType": "text",
        "message": "={{ $('Webhook').item.json.body.message }}\n\n새로운 비즈니스 기회입니다. 빠른 확인 바랍니다.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        0
      ],
      "id": "1f4f2e3d-a78d-450e-b94a-991d09de2a1b",
      "name": "영업 문의",
      "webhookId": "13218542-c8e3-4efc-85d6-601f942f036e",
      "credentials": {
        "gmailOAuth2": {
          "id": "dj0i09ER2FsiN1bt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "matzipblogger@naver.com",
        "subject": "={{ \n  `${Number($json.urgency_score || 0) >= 8 ? '[긴급] ' : ''}[기술 지원 요청] ${$('Webhook').item.json.body.name}` \n}}",
        "emailType": "text",
        "message": "={{ $('Webhook').item.json.body.message }}\n\n고객의 기술적인 문제 해결이 필요합니다.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        128,
        192
      ],
      "id": "3346158c-8ae9-4a99-9c48-1581ca0f58c2",
      "name": "기술 지원",
      "webhookId": "13218542-c8e3-4efc-85d6-601f942f036e",
      "credentials": {
        "gmailOAuth2": {
          "id": "dj0i09ER2FsiN1bt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = items[0].json.body.message;\n\nreturn [{\n  json: {\n    contents: [\n      {\n        parts: [\n          {\n            text: `아래의 문의 내용을 [영업 문의, 기술 지원, 일반 문의] 중 하나로 분류해주세요.\n긴급도를 1~10 숫자로만 분류해서 함께 출력해주세요.\n\n문의 내용: ${message}\n\n응답은 반드시 '문의유형 숫자' 형식으로 출력하세요. 예: 기술 지원 3\n다른 말이나 설명은 절대로 하지 마세요.`\n          }\n        ]\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        192
      ],
      "id": "42aa149f-0bb4-49a8-bbb1-8536be726b3b",
      "name": "Prompt"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.candidates[0].content.parts[0].text.trim();\nconst parts = content.split(\" \");\nconst urgency = parseInt(parts.pop());\nconst category = parts.join(\"\");\n\n// Webhook에서 원본 body 가져오기\nconst body = $items(\"Webhook\")[0].json.body;\n\nreturn {\n  inquiry_type: category,\n  urgency_score: urgency,\n  body\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        192
      ],
      "id": "86ad4349-c986-474d-8676-6472e45e46a0",
      "name": "Split"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09921XS91R",
          "mode": "list",
          "cachedResultName": "고객-문의-채널"
        },
        "text": "={{ \n  `${Number($json.urgency_score || 0) >= 8 ? '[긴급] ' : ''}새 문의\\n\\n이름 : ${$json.body.name}\\n이메일 : ${$json.body.email}\\n문의 내용 : ${$json.body.message}`\n}}\n{{ $json.inquiry_type }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        128,
        384
      ],
      "id": "ed805dcc-a34c-4914-b8dc-f12d0ffeaa8d",
      "name": "일반 문의",
      "webhookId": "32708d71-a230-4894-b52a-b0fd530d308f",
      "credentials": {
        "slackApi": {
          "id": "jcnlLR9z4sAkDfFb",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "영업 문의",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "기술 지원",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "일반 문의",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89aaeb33-d31f-41c3-a42e-d527d4eccef5",
  "meta": {
    "instanceId": "ce5fc532d0e90e542ac9aaa00d323d943edf22b26bb286d7becd92f458034c15"
  },
  "id": "b0hKMQqms9OFGVwS",
  "tags": []
}